<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>475470964</real>
		<key>sheetClusters</key>
		<dict>
			<key>2016-05-11-wang-ning-mei.md</key>
			<dict>
				<key>lastModification</key>
				<real>484734190.32074302</real>
				<key>version</key>
				<dict>
					<key>e0feeb047d5c22953a4a962539e7e0a25318fc944bef78163d10d42c29522b2f</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>2016-05-12-the.md</key>
			<dict>
				<key>lastModification</key>
				<real>484734200.817496</real>
				<key>version</key>
				<dict>
					<key>e0feeb047d5c22953a4a962539e7e0a25318fc944bef78163d10d42c29522b2f</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>2016-06-05-Fan-Yi-Nai-Da-Dao.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>489458360.18613797</real>
				<key>lastModification</key>
				<real>489458360.18613797</real>
				<key>version</key>
				<dict>
					<key>e0feeb047d5c22953a4a962539e7e0a25318fc944bef78163d10d42c29522b2f</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>2016-07-05-grandfather.md</key>
			<dict>
				<key>lastModification</key>
				<real>489464692.34028399</real>
				<key>version</key>
				<dict>
					<key>e0feeb047d5c22953a4a962539e7e0a25318fc944bef78163d10d42c29522b2f</key>
					<integer>20</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-06-05-Fan-Yi-Nai-Da-Dao.md</string>
		</array>
		<array>
			<string>2016-07-05-grandfather.md</string>
		</array>
		<array>
			<string>2016-05-11-wang-ning-mei.md</string>
		</array>
		<array>
			<string>2016-05-12-the.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>e0feeb047d5c22953a4a962539e7e0a25318fc944bef78163d10d42c29522b2f</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>e0feeb047d5c22953a4a962539e7e0a25318fc944bef78163d10d42c29522b2f</key>
			<integer>21</integer>
		</dict>
	</dict>
</dict>
</plist>
